In [94]:
import numpy as np
import pandas as pd
import re
import string
import matplotlib.pyplot as plt
import seaborn as sns

In [69]:
df_train = pd.read_csv(r"C:\Users\mrtat\Downloads\NTI\Data\train.csv")

C:\Users\mrtat\AppData\Local\Temp\ipykernel_90544\3195422186.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df_train = pd.read_csv(r"C:\Users\mrtat\Downloads\NTI\Data\train.csv")

In [70]:
df_train.head()  # Display the first few rows of the training data

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [71]:
df_train.info()  # Display information about the training DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 21.4+ MB

In [72]:
df_train.isna().sum().sort_values(ascending=False)  # Check for missing values in the DataFrame

Monthly_Inhand_Salary       15002
Type_of_Loan                11408
Name                         9985
Credit_History_Age           9030
Num_of_Delayed_Payment       7002
Amount_invested_monthly      4479
Num_Credit_Inquiries         1965
Monthly_Balance              1200
ID                              0
Changed_Credit_Limit            0
Payment_Behaviour               0
Total_EMI_per_month             0
Payment_of_Min_Amount           0
Credit_Utilization_Ratio        0
Outstanding_Debt                0
Credit_Mix                      0
Delay_from_due_date             0
Customer_ID                     0
Num_of_Loan                     0
Interest_Rate                   0
Num_Credit_Card                 0
Num_Bank_Accounts               0
Annual_Income                   0
Occupation                      0
SSN                             0
Age                             0
Month                           0
Credit_Score                    0
dtype: int64

In [73]:
df_train.describe()  # Get descriptive statistics for the testing DataFrame

,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month
count,84998.000000,100000.000000,100000.00000,100000.000000,100000.000000,98035.000000,100000.000000,100000.000000
mean,4194.170850,17.091280,22.47443,72.466040,21.068780,27.754251,32.285173,1403.118217
std,3183.686167,117.404834,129.05741,466.422621,14.860104,193.177339,5.116875,8306.041270
min,303.645417,-1.000000,0.00000,1.000000,-5.000000,0.000000,20.000000,0.000000
25%,1625.568229,3.000000,4.00000,8.000000,10.000000,3.000000,28.052567,30.306660
50%,3093.745000,6.000000,5.00000,13.000000,18.000000,6.000000,32.305784,69.249473
75%,5957.448333,7.000000,7.00000,20.000000,28.000000,9.000000,36.496663,161.224249
max,15204.633333,1798.000000,1499.00000,5797.000000,67.000000,2597.000000,50.000000,82331.000000

In [74]:
 # Check for duplicate rows in the DataFrame
df_train.duplicated().sum().sum()  # Count the number of duplicate rows
# Because ID changes

0

In [75]:
df_train['Customer_ID'].isna().sum()  # Check for missing values in 'Customer_ID' column of training data

0

In [76]:
# Count occurrences
counts = df_train['Customer_ID'].value_counts()

# Check how many Customer_IDs appear exactly 8 times
not_8 = counts[counts == 8].sum()
print(not_8) # The total is 100000 so all Customer_IDs should appear exactly 8 times in the training data

100000

In [77]:
# The columns to drop are not present in df_train after the groupby operation, so this line is not needed.
df_train.drop(['ID','Name','SSN','Num_Bank_Accounts','Num_Credit_Card','Type_of_Loan'], axis = 1,inplace=True)

In [78]:
df_train.info()  # Display information about the modified training DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Customer_ID               100000 non-null  object
 1   Month                     100000 non-null  object
 2   Age                       100000 non-null  object
 3   Occupation                100000 non-null  object
 4   Annual_Income             100000 non-null  object
 5   Monthly_Inhand_Salary     84998 non-null   float64
 6   Interest_Rate             100000 non-null  int64
 7   Num_of_Loan               100000 non-null  object
 8   Delay_from_due_date       100000 non-null  int64
 9   Num_of_Delayed_Payment    92998 non-null   object
 10  Changed_Credit_Limit      100000 non-null  object
 11  Num_Credit_Inquiries      98035 non-null   float64
 12  Credit_Mix                100000 non-null  object
 13  Outstanding_Debt          100000 non-null  object
 14  Credit_Utilization_Ratio  100000 non-null  float64
 15  Credit_History_Age        90970 non-null   object
 16  Payment_of_Min_Amount     100000 non-null  object
 17  Total_EMI_per_month       100000 non-null  float64
 18  Amount_invested_monthly   95521 non-null   object
 19  Payment_Behaviour         100000 non-null  object
 20  Monthly_Balance           98800 non-null   object
 21  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(2), object(16)
memory usage: 16.8+ MB

In [79]:
def clean_text(text):
    text = re.sub(r'\d+', '', text)  # remove digits
    text = text.translate(str.maketrans('', '', string.punctuation.replace('_', '')))  # remove punctuation except _
    text = re.sub(r'[^\w_]', '', text)  # remove all whitespace & special chars except _
    return text if text else np.nan

In [80]:
def clean_text_for_numbers(text):
    # Keep only digits and dots
    cleaned = re.sub(r'[^\d.]', '', text)
    # Optional: Fix multiple dots (e.g., "12..3" → "12.3")
    cleaned = re.sub(r'\.{2,}', '.', cleaned)
    # If nothing valid remains, return NaN
    return cleaned if cleaned else np.nan

In [81]:
set_of_static=['Age', 'Occupation', 'Annual_Income', 'Monthly_Inhand_Salary', 'Interest_Rate', 'Num_of_Loan', 'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt']

In [82]:
set_of_text=['Customer_ID','Month','Occupation','Credit_Mix','Payment_Behaviour','Credit_Score','Payment_of_Min_Amount']

In [83]:
for col in set_of_text:
    if col not in ['Customer_ID']:
        df_train[col] = df_train[col].apply(lambda x: clean_text(str(x)))

In [84]:
for col in df_train.columns:
    if col not in set_of_text  and col not in ['Credit_History_Age']:
        # Clean text for numbers
        df_train[col] = df_train[col].apply(lambda x: clean_text_for_numbers(str(x)))
        # Convert to numeric, set errors='coerce' to turn invalid values into NaN
        df_train[col] = pd.to_numeric(df_train[col], errors='coerce')
        # Set negative values to NaN
        df_train[col] = df_train[col].where(df_train[col] >= 0, df_train[col].abs())

In [85]:
df_train.replace('nan', np.nan, inplace=True)  # Replace empty (nan) strings with NaN
df_train.replace('NM', 'No', inplace=True)  # Replace 'NM' with 'No'

In [86]:
for col in set_of_static :
    mode_per_customer = df_train.groupby('Customer_ID')[col].agg(lambda x: x.mode().iloc[0] if not x.mode().empty else x.median())
    df_train[col] = df_train['Customer_ID'].map(mode_per_customer)

In [87]:
for col in df_train.columns:
        # Get the most frequent value per Customer_ID (first mode)
        mode_per_customer = df_train.groupby('Customer_ID')[col].agg(lambda x: x.mode().iloc[0] if not x.mode().empty else x.median())
        # Fill missing values with the corresponding customer's mode
        df_train[col] = df_train[col].fillna(df_train['Customer_ID'].map(mode_per_customer))

In [88]:
df_train.isnull().sum().sort_values(ascending=False)  # Check for NULL values in the dataset

Customer_ID                 0
Month                       0
Monthly_Balance             0
Payment_Behaviour           0
Amount_invested_monthly     0
Total_EMI_per_month         0
Payment_of_Min_Amount       0
Credit_History_Age          0
Credit_Utilization_Ratio    0
Outstanding_Debt            0
Credit_Mix                  0
Num_Credit_Inquiries        0
Changed_Credit_Limit        0
Num_of_Delayed_Payment      0
Delay_from_due_date         0
Num_of_Loan                 0
Interest_Rate               0
Monthly_Inhand_Salary       0
Annual_Income               0
Occupation                  0
Age                         0
Credit_Score                0
dtype: int64

In [89]:
df_train.head(8)

,Customer_ID,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,CUS_0xd40,January,23,Scientist,19114.12,1824.843333,3,4,3,7.0,...,Good,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good
1,CUS_0xd40,February,23,Scientist,19114.12,1824.843333,3,4,1,4.0,...,Good,809.98,31.944960,22 Years and 1 Months,No,49.574949,118.280222,Low_spent_Large_value_payments,284.629162,Good
2,CUS_0xd40,March,23,Scientist,19114.12,1824.843333,3,4,3,7.0,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521,Low_spent_Medium_value_payments,331.209863,Good
3,CUS_0xd40,April,23,Scientist,19114.12,1824.843333,3,4,5,4.0,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good
4,CUS_0xd40,May,23,Scientist,19114.12,1824.843333,3,4,6,4.0,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153,High_spent_Medium_value_payments,341.489231,Good
5,CUS_0xd40,June,23,Scientist,19114.12,1824.843333,3,4,8,4.0,...,Good,809.98,27.262259,22 Years and 6 Months,No,49.574949,62.430172,High_spent_Medium_value_payments,340.479212,Good
6,CUS_0xd40,July,23,Scientist,19114.12,1824.843333,3,4,3,8.0,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.344067,Low_spent_Small_value_payments,244.565317,Good
7,CUS_0xd40,August,23,Scientist,19114.12,1824.843333,3,4,3,6.0,...,Good,809.98,23.933795,22 Years and 1 Months,No,49.574949,24.785217,High_spent_Medium_value_payments,358.124168,Standard

In [90]:
df_train.tail(8)

,Customer_ID,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
99992,CUS_0x942c,January,25,Mechanic,39628.99,3359.415833,7,2,23,6.0,...,Good,502.38,32.991333,31 Years and 3 Months,No,35.104023,401.196481,Low_spent_Small_value_payments,189.641080,Poor
99993,CUS_0x942c,February,25,Mechanic,39628.99,3359.415833,7,2,23,6.0,...,Good,502.38,29.135447,31 Years and 4 Months,No,58638.000000,180.733095,Low_spent_Medium_value_payments,400.104466,Standard
99994,CUS_0x942c,March,25,Mechanic,39628.99,3359.415833,7,2,20,6.0,...,Good,502.38,39.323569,31 Years and 5 Months,No,35.104023,140.581403,High_spent_Medium_value_payments,410.256158,Poor
99995,CUS_0x942c,April,25,Mechanic,39628.99,3359.415833,7,2,23,7.0,...,Good,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.971333,High_spent_Large_value_payments,479.866228,Poor
99996,CUS_0x942c,May,25,Mechanic,39628.99,3359.415833,7,2,18,7.0,...,Good,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.185950,High_spent_Medium_value_payments,496.651610,Poor
99997,CUS_0x942c,June,25,Mechanic,39628.99,3359.415833,7,2,27,6.0,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.028477,High_spent_Large_value_payments,516.809083,Poor
99998,CUS_0x942c,July,25,Mechanic,39628.99,3359.415833,7,2,20,6.0,...,Good,502.38,33.638208,31 Years and 9 Months,No,35.104023,251.672582,Low_spent_Large_value_payments,319.164979,Standard
99999,CUS_0x942c,August,25,Mechanic,39628.99,3359.415833,7,2,18,6.0,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.163865,High_spent_Large_value_payments,393.673696,Poor

In [98]:
df_train.drop(columns=['Customer_ID'], inplace=True)  # Drop 'Customer_ID' column as it is not needed for training